.container {
    padding: 0 20px;
}

.title {
    font-size: 60px;
    margin-bottom: 50px;
    text-align: center;
}

.content {
    display: flex;
    align-items: center;
    gap: 50px;
    
}

.imgContainer {
    flex: 1;
    height: 320px;
    display: flex;
    min-width: 300px; 
    position: relative;
    width: 500px;
    height: 300px;
}

.form {

}

.image {
    object-fit: cover;
    animation: move 3s infinite ease alternate;
    
}

@keyframes move {
    from {
        transform: translateY(-15px);
    }
    to {
        transform: translateY(0px) scale(1.03);
    }
}

.form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input, .textArea {
    padding: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #bbb;
    border: 2px solid #bbb;
    font-weight: bold;
}

@media screen and (max-width: 766px) {
    .content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        /* padding: 0 20px; */
        
        
    }
    .image {
        position: relative;
        object-fit: cover;
        animation: none;
        width: 100%;
        padding: 0 auto;
    }
    .form {
        width: 100%;
        padding: 0 auto;
    }
    }
